* {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
}

/* Shared Styles */
:root {
	--linear:  
	 linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.btn {
	border: none;
	border-radius: 48px;
	color: #FFF;
	padding: 21px 40px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	gap: 10px;
	cursor: pointer;
}

.nav-container, .logo-and-name-container, .menu, .menu-icons, .icons{
	display: flex;
	align-items: center;
}

/* Navigation Bar Styles */
.nav-container {
	width: auto;
	justify-content: space-between;
	padding: 45px 120px;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-and-name-container {
	gap: 20px;
}

.name {
	font-weight: 700;
	color: #0B0223;
	font-size: 45px;
}

.letter {
	color: #FF42A5;
}

.menu {
	list-style-type: none;
	gap: 32px;
	color: #3C354F;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}

.menu-icons {
	padding: 16px;
	background: rgba(11, 2, 35, 0.10);
	border-radius: 8px;
	gap: 24px;
}

.icons {
	gap: 16px;
}

/* Banner Styles */
.banner-container {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr;
}

/* .banner-container > * { */
/* 	border: 2px solid black; */
/* } */

.image-container {
	display: flex;
	align-self: center;
	justify-content: center;
}

.background-png > img, .image-container > img {
	width: 100%;
	height: 100%;
}


.background-png {
	position: relative;
	font-size: 0.95rem;
}

.text-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.banner-headline {
	color: #0B0223;
	text-align: center;
	font-size: 3em;
	font-weight: 600;
	text-transform: uppercase;
}

.goat {
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	font-size: 5.94em;
	margin-bottom: 24px;
	background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.description > p {
	color: #534C64;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 17px;
}

.button-container {
	margin-top: 41px;
	display: inline-flex;
	gap: 24px;
}

#sign-up-button {
	background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

#go-rogue-button {
	background: #4EC5F7;
}

/* Funny Vidoes Section */
.section-title {
	margin-top: 120px;
}

.section-headline {
	color: #0B0223;
	text-align: center;
	font-size: 48px;
	font-weight: 700;
}

.styled-words {
	background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section-description {
	color: #534C64;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px; /* 166.667% */
}

/* Cards Style */
.cards-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: flex-start;
	justify-content: space-around;
	gap: 24px;
	margin: auto 240px;
	margin-top: 45px;
}

.card-title {
	color: #534C64;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px; /* 150% */
}

.card-image {
	border-radius: 10px;
	/* height: 400px; */
	/* width: 342px; */
	width: 100%;
}

.card-image > img {
	width: 100%;
	/* height: 100%; */
}

.card-title {

}

.card:hover {
}

/* Play Instantly Styles */
.play-instantly-container {
	margin-top: 120px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 120px;
}

.play-instantly-text {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.play-instantly-title {
	color: #0B0223;
	font-size: 48px;
	font-weight: 700;
	line-height: 60px;
	width: 353px;
}

.play-instantly-image-container {
	align-self: flex-end;
	display: flex;
	align-items: center;
	justify-content: center;
}

.play-instantly-image {
	position: relative;
}

#large-image {
	position: relative;
	width: 100%;
	/* left: 145px; */
}

#small-image {
	position: absolute;
	width: 50%;	
	left: -20%;
	bottom: -10%;
}

.play-instantly-description {
	color: #534C64;
	text-align: right;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px; /* 166.667% */
	margin-top: 24px;
	width: 353px;
}

.play-instantly-title > span {
	background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
	background-clip: text;
	display: inline-block;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Category Section Style */
.category-container {
	display: flex;
	justify-content: center;
}

.buttons {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 34px;
}

.category-button {
	border: 1px solid #FFF;
	padding: 10px;
	background: #FFF;
	border-radius: 50px; 
	display: inline-flex;
	align-items: center;
	gap: 10px;
}

.category-button:hover {
	border-color: #FF42A5;
	background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;}

.button-text {
	color: #0B0223;
	font-size: 20px;
	font-weight: 600;
}



/* Responsive styles for medium devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
	.nav-container {
		padding: 20px 0px;
		flex-direction: column;
		gap: 20px;
	}	

	.menu {
		font-size: 16px;
		width: 99%;
		gap: 10%;
		justify-content: center;
	}

	/* Play Instantly Section */
	.play-instantly-image-container {
		/* width: 50%; */
	}
}

/* Responsive styles for small devices */
@media screen and (max-width: 576px) {
	/* Navbar Section */
	.nav-container {
		flex-direction: column;
		gap: 62px;
		box-shadow: none;
	}

	.menu {
		flex-direction: column;
		gap: 36px;
	}

	.menu-icons {
		margin-top: calc(62px-36px);
	}

	/* Banner Section */	
	.banner-container {
		/* display: flex; */
		/* flex-direction: column-reverse; */
		/* align-items: center; */
		grid-template-columns: 1fr;
		margin: auto 5%;
		gap: 25px;
	}

	.image-container {
		grid-row: 1 / 3;
	}

	.background-png {
		height: 505px;
	}

	.text-container {
		width: 90%;
	}

	.btn {
		font-size: 16px; 
	}

	/* Play Instantly Section */
	.play-instantly-container {
		display: flex;	
		flex-direction: column;
		gap: 75px;
		margin-bottom: 0;
	}

	/* #small-image { */
	/* 	/1* display: none; *1/ */
	/* 	width: 50%; */	
	/* 	left: -25%; */
	/* 	bottom: -15%; */
	/* } */

	.play-instantly-image-container {

		width: 75%;
		margin-bottom: 50px;
		margin-right: 5%;
	}

	.play-instantly-image {
		position: relative;
	}

	.play-instantly-title {
		text-align: center;
		font-size: 48px;
		font-weight: 700;
		line-height: 60px; /* 125% */
	}

	.play-instantly-description {
		color: #534C64;
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px; /* 166.667% */
	}

	/* Category Buttons */
	.buttons {
		display: grid;	
		grid-template-columns: repeat(3, auto);
		gap: 0px;
	}
	
	.button-text {
		font-size: 0.75em;
	}

	.button-image img{
		width: 2.5em;
	}
}
